img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	width: 100%; // Fix dla niektórych przeglądarek (Android)
}

body {
	margin: 0;
	width: 100%; // Fix dla niektórych przeglądarek (Android)
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

b, strong {
	font-weight: bold;
}

fieldset,
legend {
	border: 0;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button,
input {
	line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

small { font-size: 85%; }

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}